font-size1 = 20px
font-size2 = 16px
font = font-size2 'Arial'

.p1
  font font-size1 Arial
  color deepskyblue
  text-align center

.p2
  font font
  color deeppink

#logo
  position absolute
  top 50%
  left 50%
  width 350px
  height 250px
  margin-left -(@width / 2)
  margin-top -(@height / 2)